*, ::placeholder, :focus {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Inter, sans-serif
}
.bg--blue {
    background-color: #313A5F;
    
}
.wrapper {
    max-width: 90%;
    width: 1366px;
    margin-inline: auto;
}
.head {
    display: flex;
    align-items: center; 
}
.head__nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 46px;
    gap: 40px;
    text-transform: capitalize;
}
.nav__item:hover {
    cursor: pointer;
}
.nav--link {
    color: #ffffff;
    text-decoration: none;
}
.foto {
    display: block;
    width: 475px;
    height: 376px;
}
.holder {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 205px;
    gap: 192px
}
.holder__header {
    color: #ffffff;
}
.header__title {
    font-size: 74px;
    font-weight: 500; 
    margin-top: 0;                    
}
.header__text {
    font-size: 32px;
    font-weight: 400;
    text-align: justify;
    max-width: 570px;
}

/*portfolio*/

.wrapper__headline {
    font-size: 74px;
    font-weight: 500;
    margin-top: 150px;
}
.wrapper__desc {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 70px; 
}
.desc__subtitle { 
    font-size: 32px;
    font-weight: 500;  
    max-width: 570px;  
}
.portfolio__slide {
    position: relative;
}
.desc__control {
    display: flex;
    position: absolute;
    gap: 24px;
    margin: 0; 
    right: 0;
}
.control__vector:hover {
    cursor: pointer;
}
.wrapper__holder {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    margin-top: 89px;
    margin-bottom: 150px;
}
.holder__image {
    width: 570px;
    height: 414px;
}
.aside__list {
    font-size: 32px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    min-width: 475px;
}
.line--for--element {
    width: 100%;
    background-color: black;
    height: 2px;
}
.aside__btn { 
    display: block;
    width: 246px;
    height: 69px;
    border-radius: 44px;
    background-color: #313A5F;
    color: #ffffff;
    font-size: 24px;
    margin-top: 89px;
}
.aside__btn:hover {
    cursor: pointer;
    background: #414C79;
    border: #414C79;
}
.list__element:not(:first-child) {
    display: block;
    margin-top: 32px;
}


/*about--me*/

.about__holder {
    display: flex;
    justify-content: space-between;
    gap: 95px;
    padding-block: 54px 89px;
    
}
.about__name {
    font-size: 74px;
    font-weight: 500;
    line-height: 90px;
    color:#ffffff;
    margin: 0;
}
.about__text {
    max-width: 550px;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    text-align: justify;
    margin-top: 100px;
    color:#ffffff;
}
.about__image {
    display: block;
    width: 475px;
    height: 536px;
    margin-top: 82px;
}

/*contact*/

.contact__holder {
    margin-top: 150px;
}
.contact__name {
    font-size: 74px;
    font-weight: 500;
    text-align: center;
}
.contact__info {
    font-size: 32px;
    font-weight: 400;
    width: 485px;
    text-align: center;
    margin-inline: auto;
}
.contact__feedback {
    max-width:  750px;
    margin-inline: auto;
}   
.feedback__element {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.feedback__input {
    width: 100%;
    padding: 20px 0 20px 30px;
    margin-bottom: 35px;
    box-sizing: border-box;
    border: 3px solid #313A5F;
    border-radius: 58px;
    font-weight: 500;
    font-size: 20px;
  }
.feedback__input::placeholder {
    opacity: 0.9;
    border: 2px;
}
.feedback__input:focus {
    color: black;
    padding-left: 30px;
    padding-right: 0;
    outline: 0;
}
.feedback__input:hover {
    border-color: #1608d4;
}
.feedback__button {
    width: 100%;
    border: #313A5F 2px;
    border-radius: 58px;
    background-color: #313A5F;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 35px;
    padding-block: 20px;
    text-transform: capitalize;
}
.feedback__button:hover {
    cursor: pointer;
    background-color: #414C79;
}
.contact__aside {
    display: flex;
    justify-content: center;
    max-width: 555px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-block: 50px 100px;
    margin-inline: auto;
}
.contact__footer {
    display: flex;
    justify-content: space-between;
    gap: 155px;
    margin-bottom: 76px;
}
.footer__element {
    list-style-type: none;
    font-size: 32px;
    font-weight: 500;   
}
.contact--link {
    color: black;
    text-decoration: none;
}
.footer__element:hover {
    cursor: pointer;
}